<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="tweeterTrends">
  <div ng-controller="TrendsController">
    <div ng-if="!user.id">

      <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Tweeter Trends</a>
        <form class="form-inline">
          <div class="dropdown">
            <button type="button" class="btn btn-outline-info my-2 my-sm-0 dropdown-toggle" id="dropdownProfileButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
              Profile</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfileButton">
              <button class="dropdown-item" ng-click="toggleProfileView()">Edit Profile</a>
                <button class="dropdown-item" ng-click="toggleLoginView()">Sign Out</a>
            </div>
          </div>
        </form>
      </nav>

      <div class="container-fluid">
        <!-- SIGNUP FORM -->
        <div class="container signup-form" ng-if="showSignupForm">
          <h1 class="text-center" style="margin-bottom: 20px;">Sign Up</h1>
          <form>
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="user.first_name"
                required>
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="user.last_name"
                required>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                placeholder="rob@email.com" ng-model="user.username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password"
                required>
            </div>
            <button ng-click="createUser()" type="submit" class="btn btn-primary">Sign Up</button>
            <button ng-click="toggleLoginView()" type="button" class="btn btn-outline-info">Back</button>
          </form>
        </div>
        <!-- ---------- -->

        <!-- Login Form -->
        <div class="container login-form" ng-if="showLoginForm">
          <h1 class="text-center" style="margin-bottom: 20px;">Login</h1>
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                placeholder="rob@email.com" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="********" required>
            </div>
            <button ng-click="login()" type="submit" class="btn btn-primary">Submit</button>
            <button ng-click="toggleSignupView()" type="button" class="btn btn-outline-info">Create Account</button>
          </form>
        </div>
        <!-- ---------- -->

        <!-- Profile Page -->
        <div class="container profile-page" ng-if="showProfilePage">
          <h1 class="text-center" style="margin-bottom: 20px;">Profile</h1>

        </div>
        <!-- ---------- -->

      </div>
    </div>

    <div ng-if="user.id" class="row main-container">
      <!-- Filter Options like location etc here -->
      <div class="col-3 col-lg-2 sidebar">
        <div class="filter-container">
          <h6>Narrow By Location</h6>
          <select class="custom-select">
            <option selected>Select Country</option>
            <option value="1">US</option>
            <option value="2">UK</option>
            <option value="3">Canada</option>
            <option value="4">Australia</option>

          </select>
        </div>
      </div>
      <!-- Container for Trends and Topics -->
      <div class="col-9 col-lg-10">
        <h3 class="subheading"><i class="fas fa-chart-line"></i> Trending {{location}}</h3>

        <div class="display-container">
          <!-- Repeat Trend topics for each trend in array -->
          <div ng-repeat="trend in trendsArr" class="trendCard">
            {{trend.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/tweeterFactory.js"></script>
  <script src="js/controllers/tweeterController.js"></script>
</body>

</html>