<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="tweeterTrends">
  <div ng-controller="TrendsController">

    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">Tweeter Trends</a>
      <!-- ======================================================================= -->
      <form ng-if="showQueryPage && showDashboard" class="form-inline ">
        <div class="input-group">
          <input ng-model="query.text" class="search-bar" type="text" placeholder="Search">
          <div class="input-group-append">
            <button ng-click="searchTweet()" class="btn btn-outline-info" type="button"><i
                class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <!-- ======================================================================= -->

      <form class="form-inline" ng-if="user.id">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info my-2 my-sm-0 dropdown-toggle" id="dropdownProfileButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
              class="fas fa-user"></i>
            Profile</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfileButton">
            <button class="dropdown-item" ng-click="toggleProfileView()">Edit Profile</button>
            <button class="dropdown-item" ng-click="toggleLogoutView()">Sign Out</button>
          </div>
        </div>
      </form>
    </nav>

    <div ng-if="!user.id">
      <div class="container-fluid">

        <!-- =============================================================== -->
        <!-- Sign Up Page -->
        <!-- =============================================================== -->
        <div class="container signup-form" ng-if="showSignupForm">
          <div ng-include="'signup.html'"></div>
        </div>

        <!-- =============================================================== -->
        <!-- Login Form Page -->
        <!-- =============================================================== -->
        <div class="container login-form" ng-if="showLoginForm">
          <div ng-include="'login.html'"></div>
        </div>

      </div>
    </div>



    <!-- =================================================================== -->
    <!-- Main Dashboard -->
    <!-- =================================================================== -->
    <div ng-if="showDashboard" class="row main-container">

      <!-- Filter Options like location etc here -->
      <div class="col-3 col-lg-2 sidebar">
        <!-- Menu Buttons for switching tools -->
        <button ng-click="showQueryTool()" class="btn btn-secondary btn-block tool-menu" style="margin-top: 30px;">Query
          Tool</button>
        <button ng-click="showTrendsTool()" class="btn btn-secondary btn-block tool-menu">Trends Tool</button>

        <div class="filter-container">
          <h6>Narrow By Location</h6>
          <select class="custom-select">
            <option selected>Select Country</option>
            <option value="1">US</option>
            <option value="2">UK</option>
            <option value="3">Canada</option>
            <option value="4">Australia</option>

          </select>
        </div>
      </div>
      <!-- Container for Trends and Topics -->

      <!--<div class="col-9 col-lg-9"id = "TopTweets" style="display:none">
          <h3 class="subheading"><i class="fas fa-chart-line" ></i> Trending Tweets</h3>
          <div class="container" >
              <div ng-repeat=" in " class="trendCard">
           
                  
                  
                </div>
      </div>
    </div>-->


      <!-- ------------------------------------------------------------------- -->
      <!-- Trending Tool Page -->
      <!-- ------------------------------------------------------------------- -->
      <div ng-if="showTrendsPage" class="col-9 col-lg-9" id="Trending">
        <div ng-include="'trends.html'"></div>
      </div>

      <!-- ------------------------------------------------------------------- -->
      <!-- Query Tool Page -->
      <!-- ------------------------------------------------------------------- -->
      <div ng-if="showQueryPage" class="col-9 col-lg-10" id="Query">
        <div ng-include="'queryTool.html'"></div>
      </div>




    </div>

    <!-- =================================================================== -->
    <!-- Profile Page View -->
    <!-- =================================================================== -->
    <div class="container profile-page" ng-if="showProfilePage">
      <div ng-include="'profile.html'"></div>
    </div>






    <!-- Add all html code above this line! -->
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/tweeterFactory.js"></script>
  <script src="js/controllers/tweeterController.js"></script>

</body>

</html>
