body {
  font-family: 'Nunito', sans-serif;
}

.main-container {
  margin: 0;
}

.login-form {
  max-width: 40vw;
  margin-top: 20vh;
}

.signup-form {
  max-width: 40vw;
  margin-top: 20vh;
}

.profile-page {
  max-width: 40vw;
  margin-top: 10vh;
}

.logout-page {
  max-width: 40vw;
  margin-top: 10vh;
}

.navbar-brand {
  font-size: 2.2rem;
}

.sidebar {
  background-color: #ecf0f1;
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 1rem;
}

.trendCard {
  border: 3px;
  border-style: dashed;
  border-color: cadetblue;
  border-radius: 5%;
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  /* font-weight: bold; */
  color: grey;
}

.trendCard:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.subheading {
  margin: 50px 10px 5px 45px;
}

.filter-container {
  margin-top: 50px;
}

.tool-menu {
  margin-top: 10px;
  border-radius: 0%;
}

.search-bar {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 25vw;
}

.tweet-container {
  padding: 0%;
}

.tweet-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: #2980b9;
  border-width: 10px;
  border-radius: 5px;
  margin: 20px;
  background-color: white;
  color: #495057;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
}

.tweetUser-section {
  flex: 3;
  /* border: #2980b9;
  border-width: 5px;
  border-style: solid;
  border-color: #2980b9;
  color: #495057; */
  background-color: #34495e;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  color: #ecf0f1;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  padding: 15px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.tweetUser-name {
  font-size: 1rem;
  color: rgb(234, 242, 243);
  font-weight: bold;
}

.data-text {
  font-size: 12px;
}

.tweetUser-data {
  font-size: 12px
}

.tweet-img {
  border-radius: 50%;
  width: 50px;
  margin-bottom: 10px;
}

.tweetText-section {
  flex: 10;
  padding: 30px;
}

.query-subtitle {
  margin: 30px 5px 20px 20px;
  font-style: italic;
}